body {
    background-color: #fecaca;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    background-color: #ecfccb;
    width: 300px;
    height: 611px;
    margin-top: 174px;
    margin-bottom: 174px;
    padding: 40px;
    text-align: center; 
    gap: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
  

}
img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}
h1 {

    font-size: 25px;
}

h2 {
    font-size: 18px ;
    color: #db2777 ;
}

p {
    padding: 20px;

}

div{
    border-style:outset;
    border-radius: 15px;
    background-color: #d1d5db;
    padding: 12px;
    margin-bottom: 18px;
    
}

a {
    text-decoration:none;
    color: black;
    
}
div:hover {
  background-color: darksalmon; 
}


